<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я Лапин Максим</h1>
<p>
  Я Python разработчик и студент ТКУИК. Я увлечен программированием и постоянно расширяю свои знания и навыки в этой области. С радостью разрабатываю веб-приложения и создаю эффективный и интуитивно понятный код.
</p>
<p>
  В моей работе я стремлюсь к тому, чтобы создавать качественные решения, которые отвечают требованиям пользователей и приносят пользу. Я увлечен разработкой, и каждый проект становится для меня новым вызовом, который я с радостью принимаю.
</p>
<p>
  Вы можете найти меня на GitHub, где я делюсь своими проектами и открытым исходным кодом. Не стесняйтесь связаться со мной, если у вас есть вопросы, предложения или просто хотите поздороваться. Буду рад общению и сотрудничеству!
</p>
<p>
  <a href="https://github.com/lapinndev"><img src="../../static/img/icons8-github.svg" width="50" height="50" alt="git"></a>
</p>
{% endblock %}