<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        SQLite
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Git
      </li>
      <li class="list-group-item">
        Python
      </li>
      <!-- Add more technologies here -->
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Текст страницы "Технологии". Здесь вы можете найти информацию о различных технологиях, которыми я владею:</p>
    <h3>SQLite</h3>
    <p>
      SQLite — это встроенная система управления базами данных, которая обеспечивает хранение и обработку данных внутри одного файла. Она является простой в использовании и отлично подходит для разработки небольших и средних проектов.
    </p>
    <h3>Django</h3>
    <p>
      Django — это мощный фреймворк для разработки веб-приложений на языке Python. Он предоставляет удобные инструменты для работы с базами данных, обработки HTTP-запросов, создания шаблонов и многое другое. Django позволяет разрабатывать веб-приложения быстро и эффективно.
    </p>
    <h3>Git</h3>
    <p>
      Git — это распределенная система контроля версий, широко используемая в разработке программного обеспечения. Она обеспечивает отслеживание изменений в коде, возможность совместной работы над проектами и управление версиями кода.
    </p>
    <h3>Python</h3>
    <p>
      Python — это высокоуровневый язык программирования, который отличается простотой и читаемостью кода. Он широко используется для разработки веб-приложений, научных вычислений, автоматизации задач и многого другого. Python имеет богатую экосистему библиотек, которые делают разработку еще более эффективной.
    </p>
    <!-- Add more technology descriptions here -->
  </article>
</div>
{% endblock %}
